<!DOCTYPE html>
<html ng-app="app">
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <div class="wrapper" ng-controller="DemoController">
            <header class="header">
            </header>
            <nav class="side-nav">
            </nav>
            <section class="content">
                <div ui-view></div>
            </section>
        </div>
        <script src="js/bundle.js"></script>
        <script src="js/templates.js"></script>
    </body>
</html>