/**
 * colors
 */
// brand
$color-brand: #FDCC15;
// background
$color-background-body: #fff;
// text
$color-text-primary: #000;
$color-text-secondary: #333;
$color-text-link: #123456;

/**
 * dimensions
 */
$font-size-base: 14px;
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 14px;
$font-size-h6: 12px;

/**
 * Components
 */
// .header
$headerHeight: 40px;
$headerBackgroundColor: #2B2B2B;

// .side-nav
$sideNavWidth: 75px;
$sideNavBackGroundColor: #575757;