@import "mixins/index";
@import "themes/light";

$z-layers: (
        'header':   100,
        'side-bar': 50
);

html, body, .wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: $color-text-primary;
  background-color: $color-background-body;
  font-size: $font-size-base;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: $headerHeight;
  background-color: $headerBackgroundColor;
  overflow: auto;
  z-index: z('header');
}

.side-nav {
  height:100%;
  width: $sideNavWidth;
  background-color: $sideNavBackGroundColor;
  padding: $headerHeight 0 0 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: z('side-bar');
}

.content {
  position: absolute;
  top: $headerHeight;
  left: $sideNavWidth;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
}